{% extends 'admin/model/details.html' %}
{% block tail %}
    {{ super() }}
    <div class="container">
        <hr>
        <a href="https://atlpix01.cern.ch/elog/Detector/">ELOG /Detector</a>
    </div>
{% endblock %}
