 
{% extends 'admin/master.html' %}

{% block body %}
<h1>Welcome to the Pixel Module Tracker</h1>
<ul>
    <li>Connectivity - read-only table with all pixel modules and links to pixmodule table if history entries exist</li>
    <li>PixModule - table for modules with links to connectivity and to it's history entries </li>
    <li>Priorities - table with possible priority levels (one per module)</li>
    <li>History - table of ALL history entries</li>
    <li>Pixel Items - Tables (Actions, Symptoms, Hypothesis, Diagnosis) with lists of possible items</li>
</ul>
<h3>Database Entity Relation Diagram</h3>
<img src={{ url_for('static', filename='erd.png')}} alt="Entity Relation Diagram" style="max-width: 800px;/>
{% endblock %}

