{% extends 'admin/model/details.html' %}
{% block details_table %}
<h2>{{ module }}</h2>
{% for hkey in histories %}
<table class="table table-bordered searchable">
    <tr>
        <td><b>Observed</b></td>
        <td><b>Actions</b></td>
        <td><b>Priority</b></td>
        <td><b>Symptoms</b></td>
        <td><b>Hypothesis</b></td>
        <td><b>Diagnosis</b></td>
    </tr>
    <tr>
        <td>{{ histories[hkey]['observed']}}</td>
        <td>{{ histories[hkey]['actions']}}</td>
        <td>{{ histories[hkey]['priority']}}</td>
        <td>{{ histories[hkey]['symptoms']}}</td>
        <td>{{ histories[hkey]['hypothesis']}}</td>
        <td>{{ histories[hkey]['diagnosis']}}</td>
    </tr>
    <tr>
        <td colspan="4">{{histories[hkey]['comment']}}</td>
        <td colspan="2">Entered {{histories[hkey]['systemdate']}} by {{histories[hkey]['username']}}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}

{% block tail %}
{{ super() }}
<div class="container">
    <hr>
    <a href="https://atlpix01.cern.ch/elog/Detector/">ELOG /Detector</a>
</div>
{% endblock %}